<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454524860647-ieu7ibfkar2p9ilco6mca1672t3uqc1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454524860647-ieu7ibfkar2p9ilco6mca1672t3uqc1r</string>
	<key>API_KEY</key>
	<string>AIzaSyB57jlkIA_NA8YGUUcj7aWDpMYsrrBYBdc</string>
	<key>GCM_SENDER_ID</key>
	<string>454524860647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MicahD.Shiso</string>
	<key>PROJECT_ID</key>
	<string>shiso-1a314</string>
	<key>STORAGE_BUCKET</key>
	<string>shiso-1a314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:454524860647:ios:3fd926490fe84f9b</string>
	<key>DATABASE_URL</key>
	<string>https://shiso-1a314.firebaseio.com</string>
</dict>
</plist>